  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <b>STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
      
     
        </b>
      </div>
      <div class="col-md-4">
        <h1> PROFILE OVERVIEW </h1>
        <h2> Name: <%= @name %> </h2>        
        <h3> Photo </h3>
        <img src= "<%= @photo %>" alt="" WIDTH="300" BORDER="0">
        <h4> Information (First Paragraph from Wikipedia): </h4>
        <div> <%= @wiki %> </div><br><br>
       <a href="http://madvig-104472.use1-2.nitrousbox.com/user/1"> Dick </a> <br>
       <a href="http://madvig-104472.use1-2.nitrousbox.com/user/2">Jennay </a><br> 
       <a href= "http://madvig-104472.use1-2.nitrousbox.com/user/3"> Alf </a>
       
        
      </div>
      <div class="col-md-4">
        <b> STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
        STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS STUPID ADS 
       
    </b>
      </div>
    </div>
</div>

